* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-row: min-content auto;
    column-gap: 2rem;
    row-gap: .5rem;
}

header {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    padding-inline: 5rem;
    padding-block: 1.5rem;
}

main {
    display: grid;
    grid-template-columns: min-content repeat(2, 1fr);
    margin-inline: 5rem;
    gap: 2rem;
}

ul {
    list-style: none;
}

.visually-hidden {
    height: 0;
    width: 0;
    overflow: hidden;
}

#message-list {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.message {
    display: grid;
    grid-template: 'info title' min-content
                   'info message' 1fr
                   'div div' min-content / clamp(8rem, 1rem, 10rem) 1fr;
    gap: 1rem;
    padding-top: 1rem;
    background-color: rgb(239, 239, 239);
    border: .5rem solid;
    border-top-color: deepskyblue;
    border-bottom-color: deeppink;
    border-inline: unset;
    border-radius: 1rem;
}

.message > h3 {
    grid-area: title;
    margin-right: 1rem;
}

.message > .content {
    grid-area: message;
    width: 100%;
    margin-right: 1rem;
}

.message > .comment-section {
    background-color: deeppink;
    grid-area: div;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 .5rem .5rem;
}

.comment-section > form {
    display: flex;
    margin-top: .5rem;
    justify-content: center;
}

.comment-section > form > input {
    padding: .25rem;
}

.comment-section > form > input:first-of-type {
    border-radius: .5rem 0 0 .5rem;
}

.comment-section > form > input:last-of-type {
    border-radius: 0 .5rem .5rem 0;
}

.comment-list > .message-comment {
    display: grid;
    padding: 1rem;
    margin-top: .25rem;
    margin-inline: 1rem;
    column-gap: 1rem;
    row-gap: .75rem;
    background-color: rgb(239, 239, 239);
    border: .25rem solid deepskyblue;
    border-radius: 1rem;
    grid-template: 'img name' .75em
                   'img message' min-content / min-content 1fr;
}

.message > .comment-list > .message-comment:first-child {
    margin-top: .25rem;
}

.message > .comment-list > .message-comment:last-child {
    margin-bottom: .25rem;
}

.message-comment img {
    grid-area: img;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border: .1rem solid deeppink;
    border-bottom-color: deepskyblue;
    border-right-color: deepskyblue;
    border-radius: 50%;
}

.message-comment span {
    grid-area: name;
    font-size: .75em;
}

.message-comment p {
    grid-area: message;
    place-self: start;
}

.message > .message-info {
    margin-left: 1rem;
    grid-area: info;
    display: grid;
    gap: .5rem;
    grid-template: 'img img img img' clamp(8rem, 1rem, 10rem)
                   'name name name name' min-content
                   '. react-btn react-count .' min-content
                   '. id-btn id-btn .' min-content
                   '. edit-btn edit-btn .' min-content
                   '. remove-btn remove-btn .' min-content / 1fr 1fr 1fr 1fr
}

.message-info > .author-img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: .25rem solid deeppink;
    border-bottom-color: deepskyblue;
    border-right-color: deepskyblue;
    border-radius: 50%;
}

.message-info > .author-name {
    grid-area: name;
    justify-self: center;
}

.message-info > .thumbs-up {
    grid-area: react-btn;
    background-color: unset;
    border: unset;
    justify-self: right;
}

.message-info > .reaction-count {
    grid-area: react-count;
    justify-self: left;
}

.message-info > .se-post {
    grid-area: id-btn;
}

.message-info > .edit-message {
    grid-area: edit-btn;
}

.message-info > .remove-message {
    grid-area: remove-btn;
}

dialog[open] {
    padding: 1rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    top: 25%;
    margin-inline: auto;
}

dialog form {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 0.5rem;
    row-gap: 0.75rem;
}

dialog .form-btns {
    width: min-content;
    place-self: center;
    grid-column: span 2;
    display: flex;
    gap: .5rem
}

dialog .form-btns :is(button, input[type="submit"]) {
    padding-inline: 0.25rem;
    cursor: pointer;
}

a,
.look-like-link {
    background-color: unset;
    border: unset;
    color: -webkit-link;
    text-decoration: underline;
    cursor: pointer;
}

#auth-btns {
    --btn-border-radius: 2rem;
    display: flex;

}

#auth-btns :is(button, a) {
    padding: .25rem;
    cursor: pointer;
    border: .15rem solid black;
    text-decoration: none;
    color: black;
}

#auth-btns :first-child {
    border-radius: var(--btn-border-radius) 0 0 var(--btn-border-radius);
    border-right: .1rem solid black;
    padding-left: .5rem;
    background-color: deepskyblue;
}

#auth-btns :last-child {
    border-radius: 0 var(--btn-border-radius) var(--btn-border-radius) 0;
    border-left: .1rem solid black;
    padding-right: .5rem;
    background-color: deeppink;
    color: white;
}

.error-message {
    color: red;
}

.hide-me{
    display: none;
}

.edit-lable {
    color: deeppink;
}

*[hidden] {
    display: none; !important;
}

.deleted-message {
    border: .5rem solid red;
    color: red;

}